---
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0 # Keep this version or update to the latest stable
    hooks:
      - id: cspell
        name: Check spelling in files
        args: ["--config", "cspell.json"]
        files: \.(md|js|ts|html|css)$
        additional_dependencies:
          - "@cspell/dict-people-names"
      - id: cspell
        name: check commit message spelling
        args:
          - --config cspell.json
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --files
          - .git/COMMIT_EDITMSG
        stages: [commit-msg]
        always_run: true

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.1.2
          - "@prettier/plugin-xml@0.12.0"
        files: \.(md|markdown|json|yaml|yml|css|js|ts|html)$

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0 # Use the latest stable version
    hooks:
      - id: detect-secrets
        name: Detect secrets within the codebase
        description: Detect and block secrets from committing to the codebase

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: ["--fix"]
        files: \.(md|markdown)$

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.9.0
    hooks:
      - id: stylelint
        args: [--fix]
        files: \.(css|scss|sass)$
        additional_dependencies:
          - stylelint@16.9.0
          - stylelint-config-standard@36.0.1
